# mod_rewrite start here

RewriteEngine on

# creates pernament redirect from www. to non-ww, with SSl certificate

RewriteCond %{HTTP_HOST} ^www.johnjordan.design [NC]
RewriteRule ^(.*)$ https://johnjordan.design/$1 [L,R=301]

# does not apply to existing directories, meaning that if the folder exists on the server then don't change anything and don't run the Rule!

RewriteCond %{REQUEST_FILENAME} !-d

# Check for file in directory with .html extension

RewriteCond %{REQUEST_FILENAME}\.html -f

# Here we actually show the page that has the .html extension

RewriteRule ^(.*)$ $1.html [NC,L]

# Verifies that the initial request does not already have https://

RewriteCond %{HTTPS} off

# And rewrites the entire requested URL if it does not

RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]